*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'chenla', DM Serif Text;
  scroll-behavior: smooth;
  list-style: none;
  text decoration: none;
}
:root {
  --main-color: #
  --text-color: #
  --bg-color: 
}
.hero{
  height: 100vh;
  width: 100%;

}








    text-align: center;
    color: red;
    .nav {
        background-color: yellow;
        list-style-type: chenla;
        text-align: center; 
        padding: 0;
        margin: 0;
      }
      
      .nav li {
        display: inline-block;
        font-size: 20px;
        padding: 20px;
      } 
      img.b {
        vertical-align: text-top;
      }
      
  }
  p {
    text-align: center;
    color: red;
  }
  